@mixin circle($width, $height) {
    width: $width;
    height: $width;
    border-radius: 50%;
}

$primary-color: #4B0082;

.step-tracker {
    height: 100%;
    background: #F8F8FF;
    padding: 50px;
    ul {
        padding: 0;
    }
    li {
        list-style: none;
    }
    .step-card {
        background: #FFF;
        color: $primary-color;
        padding: 15px;
        &.active {
            background: #F5F5F5;
        }
        &.step-header {
            display: flex;
            align-items: flex-start;
            .header-circle {
                min-width: 40px;
                &:before {
                    content: '';
                    display: inline-block;
                    @include circle(20px, 20px);
                    border: 1px solid #ccc;
                    margin-right: 10px;
                    margin-top: 5px;
                }
            }
            &.in-progress {
                .header-circle {
                    &:before {
                        background: #ccc;
                    }
                }
            }
        }
        &.step-progress {
            display: flex;
            flex: 1 1 auto;
        }
        &.active {
            .step-marker {
                &:before {
                    border-color: $primary-color;
                }
            }
        }
        &.completed {
            .step-marker {
                &:before {
                    background: $primary-color;
                    border-color: $primary-color;
                }
                &:after {
                    border-color: $primary-color;
                }
            }
        }
        .step-marker {
            position: relative;
            min-width: 40px;
            &:before {
                content: '';
                display: inline-block;
                @include circle(12px, 12px);
                border: 1px solid #ccc;
                margin-right: 10px;
            }
            &:after {
                content: '';
                display: block;
                height: calc(100% + 20px);
                border: 1px solid #ccc;
                position: absolute;
                left: 5px;
                bottom: -10px;
                top: 17px;
            }
        }
        &:last-child {
            .step-marker {
                &:after {
                    border: none;
                }
            }
        }
        .step-description {
            p {
                display: inline-block;
            }
            width: 100%;
            .task-button {
                background: $primary-color;
                color: #FFF;
                border-radius: 6px;
                padding: 5px 10px;
                font-size: 14px;
                font-family: Calibri;
                box-shadow: none;
                border-color: $primary-color;
                float: right;
            }
        }
    }
}

@media(max-width: 411px) {
    .step-tracker {
        padding: 0px;
        .step-card {
            .step-description {
                p {
                    display: block;
                }
                .task-button {
                    float: left;
                }
            }
        }
    }
}